# Compiled
*#
*.elc

# Packaging
.cask

# Misc
*~
ac-comphist.dat
ido.last
tramp
*.eld
*.cache
.org-id-locations
recentf
bookmarks
projects
.lsp-session*
history

# Folders
anaconda-mode
auto-save-list
semanticdb
elpa/
eshell
url
.cache
eln-cache/
transient/
